.small-image-container {
    max-height: 500px;
}

.large-image-container {
    max-height: 650px;
}

.small-image {
    min-height: 500px;
    max-width: 173px;
}

.large-image {
    min-height: 650px;
    max-width: 225px;
}