.small-image-container {
    max-height: 400px;
}

.large-image-container {
    max-height: 500px;
}

.small-image {
    min-height: 400px;
    height: 500px;
    max-width: 138px;
    width: 138px;
}

.large-image {
    min-height: 500px;
    height: 500px;
    max-width: 173px;
    width: 173px;
}